
    <div class="container">
      <div class="row">
            <div class="card-header">
            <h3>Angular Group Info</h3>
            </div>

          <div class="card-body">

            <form class="form" [formGroup]="inputForm" (ngSubmit) = "onSubmit()">
              <div class="form-group">
            <input formControlName="input1" class="form-control" type="text" id="input1"
               name="input1" value={fieldState.input1.value} placeholder="attribute1"
                 pattern="^[a-zA-Z0-9_]+$" minLength={4} maxLength={15} required={true}/>

            <span class="text-danger" *ngIf="(inputFormControl.name.touched||submitted) && inputFormControl.name.errors.requiredError">
                  Required is not statisfied
            </span>
            <span class="text-danger" *ngIf="(inputFormControl.name.touched||submitted) && inputFormControl.name.errors.patternError">
                 Pattern is not statisfied
            </span>
            <span class="text-danger" *ngIf="(inputFormControl.name.touched||submitted) && inputFormControl.name.errors.minErrorError">
                      Min is not satisfied

            </span>
             <span class="text-danger" *ngIf="(inputFormControl.name.touched||submitted) && inputFormControl.name.errors.maxErrorError">
                  Max is not statisfied

             </span>

            <input formControlName="input2" class="form-control" type="text" id="input2" name="input2" value={fieldState.input1.value} placeholder="attribute2" minLength={4} maxLength={15}/>
           <span class="text-danger" *ngIf="(inputFormControl.name.touched||submitted) && inputFormControl.name.errors.requiredError">

             Min is not statisfied
           </span>


            <button color="primary" type="submit" class="button button-success" name="submit" [disabled]="inputForm.invalid">Submit</button>
        </div>
        </form>
        </div>
        </div>

