
    <div class="container">
      <div class="row">
         <div class="md-form md-auto py-3 needs-validation text-black darken-3" expand="md" onSubmit={handleOnSubmit} noValidate id="wform1">
            <div class="card-header">
            <h3>Angular Group Info</h3>
            </div>

          <div class="card-body">

              <form class="form" [formGroup]="inputForm" (ngSubmit) = "onSubmit()">
                 <div class="form-group">
            <input formControlName="input1" class="form-control" type="text" id="input1" name="input1" value={fieldState.input1.value} placeholder="input1" pattern="^[a-zA-Z0-9_]+$" minLength={4} maxLength={15} required={true} onChange={handleOnChange} onBlur={handleOnBlur} onClick={handleOnClick} />
            <span class="text-danger" *ngIf="(inputFormControl.name.touched|submitted) && inputFormControl.name.errors?requiredError"/>
            <span class="text-danger" *ngIf="(inputFormControl.name.touched|submitted) && inputFormControl.name.errors?patternError"/>
            <span class="text-danger" *ngIf="(inputFormControl.name.touched|submitted) && inputFormControl.name.errors?minErrorError"/>
             <span class="text-danger" *ngIf="(inputFormControl.name.touched|submitted) && inputFormControl.name.errors?maxErrorError"/>
            </div>
            <input formControlName="input2" class="form-control" type="text" id="input2" name="input2" value={fieldState.input1.value} placeholder="input1" minLength={4} maxLength={15} onChange={handleOnChange} onBlur={handleOnBlur} onClick={handleOnClick} />
            <span class="text-danger" *ngIf="(inputFormControl.name.touched|submitted) && inputFormControl.name.errors?requiredError"/>
             </div>
        <button color="primary" type="submit" class="button button-success" name="submit" (onClick)="inputForm.handleOnSubmit" [disabled]="inputForm.invalid">Submit</button>

          </MDBCol>
        </MDBRow>
</MDBFormInline>

 </MDBContainer>
