.titleDisplay {
  color: white;
  text-align: center;
  font-size: 30;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  display: flex;
  height: 60px;
  max-width: 100%;
  min-width: 100%;
  align-items: center;
  text-align: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  margin: auto;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar span {
  text-align: center;
}

.cardvertical {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  bottom: 1%;
  margin: auto;
  align-items: stretch;
  justify-content: space-between;
}

.cardspread {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 100%;
  width: 100%;
  margin-bottom: auto;
  padding: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  transition: all 0.2s ease-in-out;
  overflow: scroll;
}

.highlight-card {
  color: #125699;
  font-weight: 800;
  font-size: 15px;
  border: none;
  width: auto;
  min-width: 100%;
  position: relative;
  background-color: #fafafa;
  margin: auto;
  padding: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.mycontainer {
  position: relative;
  display: flex;
  align-items: stretch;
  margin: auto;
  padding: auto;
}

.mycontainer a {
  display: inline;
  bottom: 1%;
  left: 1%;
}

.mycontainer.copyright {
  font-size: 0.7em;
  text-align: right;
}
