

.titleDisplay {
  color:white;
  text-align: center;
  font-size:30;
}

.error1Display {
  color:red;
  text-align: center;
    font-weight: 600;
  font-size:60;
   margin: 8px 0;
    flex: 1;
}
table {
  border-collapse: collapse;
  width: 100%;
  height: 50%;
}
th, td {
  text-align: center;
  vertical-align: center;
  align: center;
  padding : 6px;
  min-width: 100%;
  max-width: 100%;
}
th {
  background-color: #4CAF50;
  color : white;
}
tr:nth-child(even) {
  background-color : #f2f2f2;
}
thead, tbody {

    max-width:100%;
    min-width:100%;
    align-items: center;
    text-align:center;
   
    font-weight: 600;
    margin: auto;
}
h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    display:flex;
    height: 60px;
    max-width:100%;
    min-width:100%;
    align-items: center;
    text-align:center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    margin: auto;
  }

  .toolbar img {
    margin: 0 16px;
  }
  .toolbar span {
     text-align: center;
  }

  .cardvertical {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
  }

  

  .cardspread {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 100%;
    width: 100%;
    margin-bottom: auto;
    padding: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    transition: all 0.2s ease-in-out;
    overflow: scroll;
  }

  .highlight-card {
    color: #125699;
    font-weight: 800;
    font-size:15px;
    border: none;
    width: auto;
    min-width: 100%;
    position: relative;

    background-color: #fafafa;

    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
  }

  .mycontainer {
    position: relative;
    display: flex;
    align-items:stretch;
    margin: 1%;
    padding: 1%;
  }


  .mycontainer a {
    display: inline;
    bottom: 1%;
  }
  .mycontainer.copyright {
    font-size: 0.7em;
    text-align:right;
  }
